* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 80%;
    margin: 20px auto;
    font-family: 'Montserrat', sans-serif;
}

/* header */

header {
    height: 120px;
    margin-bottom: 20px;
    color: grey;
}

.logo {
    width: 150px;
}

ul {
    list-style-type: none;
    padding-top: 30px;
    overflow: hidden;
  }
  
  li {
    display: inline-block;
  }

  li a {
    display: block;
    color: grey;
    padding-right: 20px;
    text-decoration: none;
  }

/* main */
/* frist-block */

.image {
    background-image: url(../img/banner.jpg);
    background-position: center;
    filter: brightness(80%);
    height: 400px;
    border-radius: 10px;
    padding-top: 250px;
    padding-left: 30px;
    color: white;
}

/* central-block */

.leadership {
    margin-top: 50px;
    margin-bottom: 50px;
}

.row {
    padding-bottom: 10px;
    padding-top: 10px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.blockside {
    width: 20%;
}

.float {
    float: left;
}

.blockct {
    width: 50%;
    margin: 0px 5%;
}

.background {
    height: 250px;
    background-position: center;
    border-radius: 10px;
    filter: brightness(70%);
}

.sfondo1 {
    background-image: url(../img/img-1.jpg);
}

.sfondo2 {
    background-image: url(../img/banner-2.jpg);
}

.sfondo3 {
    background-image: url(../img/img-3.jpg);
}

.row p, .leadership p {
    color: grey;
}

h3 {
    margin-top: 20px;
    color: rgb(95, 82, 82);
    margin-bottom: 20px;
}

/* footer */

footer {
    margin-top: 50px;
    text-align: center;
}

span {
    font-size: 30px;
    color: red;
}